*
{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

body
{
    font-family: 'Roboto', sans-serif;
}
nav 
{
    position: fixed;
    z-index: 10;
    width: 100%;
}

nav ul
{
    list-style-type: none;
    border-top: 6px solid rgb(255, 217, 0);
    background-color: black;
}
.logo
{
    background-color: orange;
    font-size: 2rem;
    color: black;
    display: flex;
    justify-content: space-between;
    font-style: italic;
    display: block;
}
.logo:hover 
{
    background-color: white;
    color:orange;
}
nav ul li a
{
    text-decoration: none;
    display: block;
    text-align: center;
    padding: 1.2rem 1.3rem;
    color: orange;
    font-size: 1.5rem;
}
nav ul li a:hover
{
    color:white;
}


@media (min-width:576px) {
    nav ul 
    {
        display: flex;
        flex-wrap: wrap;
        align-items: baseline;
        justify-content: space-between;
    }
    nav ul li 
    {
        flex:1 0 auto;
    }
    .down
    {
        display: none;
    }
    .logo
    {
        display: block;
        text-align: center;
    }
}

/* ################## Bannner ################## */

#home
{
    background: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)),url(./images/background.jpg);
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 90vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.text
{
    font-size: 3rem;
    font-style: italic;
    margin-bottom: 0.5rem;
    color: white;
}
.line
{
    width:180px;
    background-color: black;
    height: 5px;   
    margin-bottom: 0.5rem; 
    margin-left: 3rem;
    border-radius: 0.5rem;
}
.buttons
{
    display:flex;
    justify-content: space-between;
}
.btn
{
    font-size: 1.3rem;
    padding: 1.2rem;
    color:rgba(241, 161, 10, 0.856);
    border-radius: 1rem;
    outline: none;
    transition: transform  1s;
    background-color: transparent;
    border:1px solid rgb(189, 136, 39);
}
.btn:hover
{
    transform: scale(1.1);
}


/* ################### Skills Section ######## */

#skills-section
{
    background-color: rgb(179, 171, 171);
    overflow: hidden;
    padding-left: 0.5rem;
}
.container
{
    width: 95vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 5rem;
    overflow: hidden;
    
}
.icons
{
    font-size: 5rem;
    letter-spacing: 2px;
    margin-bottom: 1.5rem;
    transition: transform 1s;
    
}
.icons:hover
{
    transform:scale(1.2);
}
.heading
{
    font-size: 2rem;
    color: rgb(189, 136, 39);
    margin-bottom: 1.5rem;
}
.para
{
    width: 300px;
    text-align: center;
    color:rgb(235, 221, 221);
    letter-spacing: 1px;
    font-size: 1rem;
}

@media (min-width:650px) {
    .container
    {
        width: 50vw;
    }
    #skills-section{
        display: grid;
        grid-template-columns: 1fr 1fr ;
    }
}

@media (min-width:1000px) {
    .container
    {
        width: 30vw;
        margin-bottom: 0.5rem;
    }
    #skills-section{
      
        display: grid;
        grid-template-columns: repeat(3,1fr);
    }
}
@media (min-width:1400px) {
    
    .container
    {
        width: 25vw;
    }
    #skills-section{
        min-height: 60vh;
        display: grid;
        grid-template-columns: repeat(4,1fr);
    }
}


/* ############## Service Section ############## */

#service-section
{
    height: 150vh;
    background: url(./images/source.jpg);
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    color:white;
    overflow: hidden;
    
}
.service-content
{
    width: 90vw;
    margin-left: 20px;
    margin-top: 5rem;
}
.service-title
{
    width:100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color:blue(241, 161, 10, 0.856);
    font-size: 2.2rem;
    font-style: italic;
    letter-spacing: 2px;
}
.service-line
{
    
    width:150px;
    background-color: rgb(235, 221, 221);
    height: 5px;
    border-radius: 10px;
    margin-top: 5px;
    margin-bottom: 20px;
}

.service-container-black
{
    border:2px solid white;
    background-color: rgba(0,0,0,0.5);
    position: relative;
    padding: 10px;
    overflow: hidden;
    height: 30vh;
    margin-bottom: 20px;
}
.service-container-white
{
    border:2px solid black;
    background-color: rgb(255, 255, 255,0.5);
    position: relative;
    padding: 10px;
    overflow: hidden;
    height: 30vh;
    margin-bottom: 20px;
    color:black;
}
.service-container-black:hover .front-text
{
    transform: translateY(-170px);
    transition : transform 2s;
}
.service-container-black:hover .back-text-black
{
    bottom: 10px;
    transform: bottom 2s;

}
.service-container-white:hover .front-text
{
    transform: translateY(-170px);
    transition : transform 2s;
}
.service-container-white:hover .back-text-white
{
    bottom: 10px;
    transform: bottom 2s;

}



.front-text
{
    text-align: center;
    transition: transform 2s;
    margin-top: 50px; 
}
.gears , .edit , .palette,.bar
{
    font-size: 3rem;
    margin-bottom: 20px;
}
.front-title
{
    font-size: 2rem;
}
.back-text-black,.back-text-white
{
    font-size: 1.5rem;
    padding: 1.4rem;   
    position: absolute; 
    bottom : -15rem;
    transition: bottom 2s;
}

.back-title-black
{
    color:rgb(179, 171, 171);
    font-style: italic;
    margin-bottom: 10px;
    font-size: 2rem;
}
.back-title-white
{
    /* color:rgb(5, 4, 4); */
    color: rgb(41, 4, 77);
    font-style: italic;
    margin-bottom: 10px;
    font-size: 2rem;
}

.back-para-white
{
    color:rgb(79, 8, 146);
}

.back-button-black
{
    margin-top: 10px;
    background-color: transparent;
    color:green;
    font-weight: bold;
    padding: 10px;
    font-size: 1.5rem;
    border-radius: 10px;
    transition: transform 2s;
    border-color: green;
    outline: none;
}
.back-button-white
{
    margin-top: 10px;
    background-color: transparent;
    color: rgb(41, 4, 77);
    padding: 10px;
    font-size: 1.5rem;
    border-radius: 10px;
    transition: transform 2s;
    border-color: rgb(41, 4, 77);
    outline: none;
}
.back-button-white:hover 
{
    transform: scale(1.1);
    /* transition: transform 2s; */
}
.back-button-black:hover 
{
    transform: scale(1.1);
    /* transition: transform 2s; */
}


@media (min-width:1000px) {
    .containers
    {
        padding-left: 20%;        
        width: 100%;
        display: grid;
        grid-gap: 10px;
        grid-template-columns: repeat(2,1fr);
      
    }
    .service-container-white,.service-container-black
    {
        height: 35vh;
        border-radius: 10px;
    }
     
    .service-container-black:nth-of-type(1)
    {
        order:1;
    }
     .service-container-white:nth-of-type(1)
    {
        order:2;
    }
     .service-container-black
    {
        order:4;
    }
     .service-container-white 
    {
        order:1;
    }  

}


/* #####################  Copy Right ########### */


.copy-right 
{
    width: 100%;
    background-color: black;
    height: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.copy-right .text
{
    font-size: 1.5rem;
    word-spacing: 10px;
}